<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container my-5">
    <h3>Nova tarefa</h3>
    <hr>
    <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" formControlName="titulo" class="form-control" id="titulo">
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" formControlName="descricao" class="form-control" id="descricao">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" formControlName="concluida" id="concluida" class="form-check-input">
        <label for="concluida">Concluída?</label>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Adicionar</button>
</form>