<p>{{mensagem | uppercase}}</p>
<p>{{mensagem | lowercase}}</p>
<p>{{mensagem | titlecase}}</p>
<p>{{valor | percent}}</p>
<p>{{valor | percent:'1.0-3'}}</p>
<p>{{salario | currency:'BRL':'symbol':'1.1-2'}}</p>
<p>{{hoje}}</p>
<p>{{hoje | date: 'd/MM/y'}}</p>
<p>{{hoje | date: 'H:m:s'}}</p>

<p>{{'willian@soulcode.com' | ocultarTexto}}</p>

<p>{{'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi sint illo ad quisquam, dicta totam ut quaerat.
    Magnam, reiciendis aspernatur labore nostrum, ducimus repellendus, facere at quo repudiandae aliquid repellat.' |
    limiteTexto: 35 }}</p>